* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

h1{
    font-weight: 700;
    margin-bottom: 1rem;
}

li{
    list-style-type: none;
    margin: 1rem 0;
    padding: 1.5rem 3rem;
}

button{
    background-color: lightblue;
    border: 1px solid black;
    box-shadow: 0 0 3px black;
    padding: 0.5rem 1rem;
    margin: 0.7rem 2rem 0.5rem 0;
    border-radius: 0.2rem;
}

button:hover{
    cursor: pointer;
    background-color: lightblue(253, 163, 208);
    box-shadow: 0 0 10px black;
}

input{
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem 0.5rem 0;
    border: 1px solid black;
    border-radius: 0.2rem;
    box-shadow: 0 0 2px black;
}
.gridContainer{
    width: 100%;
    height: 100vh;
    padding: 1% 3rem;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
    "registerDiv registerDiv"
    "listDiv searchDiv";
}
.registerDiv{
    grid-area: registerDiv;
}
.searchDiv{
    grid-area: searchDiv;
    height:55%;
    overflow-y: auto;
}
.container{
    background-color: #FFFFFF50;
    border-radius: 0.1rem;
    box-shadow: 0 0 1rem black;
    padding: 2rem 3.5rem;
    margin: 2rem 3rem;
}

/* Mediaqueries */
@media only screen and (max-width: 84.5em){
    .searchDiv{
        height: 90%
    }
}

@media only screen and (max-width: 62.5em){
    .gridContainer{
        padding:0rem;
        grid-template-columns: auto;
        grid-template-rows: auto 15rem auto;
        grid-template-areas: 
        "registerDiv"
        "searchDiv"
        "listDiv";
    }
    .searchDiv{
        height: 90%
    }
    .container{
        padding: 1rem 1.5rem;
        margin: 1rem 1rem;
    }
}

@media only screen and (max-width: 35em){
    h1{
        font-size: 1.1rem;
        margin: 0.5rem 0
    }
    h2{
        font-size: 1rem;
    }
    h4{
        font-size: 0.8rem;
        margin: 0 0.5rem 0.1rem 0.5rem
    }
    p{
        font-size: 0.8rem;  
    }
    button{
        font-size: 0.7rem;
        padding: 0.3rem 0.5rem;
        margin: 0.5rem 0.5rem 0 0.2rem
    }
    .gridContainer{
        grid-template-rows: auto;
    }
    .container{
        margin: 0.5rem
    }
}